@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
.__captcha {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: #ebebeb;
  font-family: "Indie Flower", cursive;
}
